SENSOR_DRVNAME_HI1333_QTECH=/hw_product/etc/camera/hwbeauty/SENSOR_DRVNAME_HI1333_QTECH/
SENSOR_DRVNAME_OV13855_OFILM=/hw_product/etc/camera/hwbeauty/SENSOR_DRVNAME_OV13855_OFILM/
SENSOR_DRVNAME_OV13855_OFILM_TDK=/hw_product/etc/camera/hwbeauty/SENSOR_DRVNAME_OV13855_OFILM_TDK/
SENSOR_DRVNAME_IMX258_SUNNY=/hw_product/etc/camera/hwbeauty/SENSOR_DRVNAME_IMX258_SUNNY/
SENSOR_DRVNAME_IMX258_SUNNY_ZET=/hw_product/etc/camera/hwbeauty/SENSOR_DRVNAME_IMX258_SUNNY_ZET/
SENSOR_DRVNAME_S5K3L6_LITEON=/hw_product/etc/camera/hwbeauty/SENSOR_DRVNAME_S5K3L6_LITEON/
SENSOR_DRVNAME_OV8856_MIPI_RAW=/hw_product/etc/camera/hwbeauty/SENSOR_DRVNAME_OV8856_MIPI_RAW/
SENSOR_DRVNAME_HI846_TRULY=/hw_product/etc/camera/hwbeauty/SENSOR_DRVNAME_HI846_TRULY/
SENSOR_DRVNAME_HI846_BYD=/hw_product/etc/camera/hwbeauty/SENSOR_DRVNAME_HI846_BYD/
SENSOR_DRVNAME_GC8034_FOXCONN=/hw_product/etc/camera/hwbeauty/SENSOR_DRVNAME_GC8034_FOXCONN/
SENSOR_DRVNAME_S5K4H7_BYD=/hw_product/etc/camera/hwbeauty/SENSOR_DRVNAME_S5K4H7_BYD/
SENSOR_DRVNAME_S5K4H7_OFILM=/hw_product/etc/camera/hwbeauty/SENSOR_DRVNAME_S5K4H7_OFILM/
SENSOR_DRVNAME_BF2253_MIPI_RAW=/hw_product/etc/camera/hwbeauty/SENSOR_DRVNAME_BF2253_MIPI_RAW/
SENSOR_DRVNAME_GC2375H_MIPI_RAW=/hw_product/etc/camera/hwbeauty/SENSOR_DRVNAME_GC2375H_MIPI_RAW/
SENSOR_DRVNAME_GC5035P_MIPI_RAW=/hw_product/etc/camera/hwbeauty/SENSOR_DRVNAME_GC5035P_MIPI_RAW/
SENSOR_DRVNAME_GC5035P_QUNHUI_MIPI_RAW=/hw_product/etc/camera/hwbeauty/SENSOR_DRVNAME_GC5035P_QUNHUI_MIPI_RAW/
SENSOR_DRVNAME_HI556_MIPI_RAW=/hw_product/etc/camera/hwbeauty/SENSOR_DRVNAME_HI556_MIPI_RAW/
SENSOR_DRVNAME_GC02M1_MIPI_RAW=/hw_product/etc/camera/hwbeauty/SENSOR_DRVNAME_GC02M1_MIPI_RAW/